<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

  <div>
        <%# <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"> %>
        <%= form_with url: products_path, method: :get, class: " d-flex simple_form search" do %>
        <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="query" placeholder="search" id="search_query"/>
       <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i>
        </button>
    </div>
  <%#= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
<%# </form> %>
  </div>

  <div class="brand-logo">
    <h1>NEWGRND
    </h1>
  </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home",  root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
          <i class="fa-regular fa-heart"></i>
            <i class="fa-solid fa-bag-shopping"></i>
            <li class="nav-item dropdown">
             <i class="fa-regular fa-user"></i><%= image_tag "", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="second-nav-bar">
  <h1><%=link_to "Mens", products_path%></h1>
  <h1>Womens</h1>
  <h1><%=link_to "Brands", designers_path%></h1>
  <h1><%=link_to"Discover", new_questionnaire_path%></h1>
</div>
