<div class=questionnaire_container>
<div class="questionnaire_info">
<h1>Discover brands you may not know yet</h1>
<p>Brands that match your style!</p>
</div>
<br>
<div class="questionnaire-form">
<%= simple_form_for @questionnaire do |f| %>
  <%= f.input :gender, collection: ["Male", "Female"]%>
  <%= f.input :age, collection: ["18 - 24", "25 - 30", "30 -35","35 +"] %>
  <%= f.input :location %>
  <%= f.input :style,
                  as: :radio_buttons,
                  collection_wrapper_tag: 'div',
                  collection_wrapper_class: 'style-wrapper',
                  item_wrapper_class: 'style-item',
                  input_html: {class: 'style-selector'},
                  collection: ["Streetwear", "Sportswear", "Smartwear", "Casual", "Preppy", "Avant-Garde"]%>
  <%= f.input :budget, collection:["Low", "Medium", "High"] %>
  <%= f.input :colour_palette, collection:["Colourful", "Pastel", "Neutral", "Monochrome", "Vibrant"] %>
  <%= f.button :submit, "Find you match!"%>
<% end %>
</div>
</div>
