
<div class="product-show-container">
<div class="product-show-card">
  <img src="<%=@product.image%>" alt="">
  <div class="product-show-info">
  <%=link_to product_designer_path(@product, @designer) do %>
    <h2>Brand: <%=@product.designer.name%></h2>
    <%end%>
    <p>Product: <%=@product.name%></p>
    <p>Price: $<%=@product.price%></p>
    <p>Size</p>
    <a class="add-to-cart-btn"href="#">Add to bag</a>
    <p class="product-show-description"><%=@product.description%></p>
  </div>
</div>
</div>
