
<div class="product-show-container">
<div class="product-show-card">
  <img src="<%=@product.image%>" alt="">
  <div class="product-show-info">
    <h2>Brand: <%=@product.designer.name%></h2>
    <p>Product: <%=@product.name%></p>
    <p>Price: £<%=@product.price%></p>
    <p>Size</p>
    <a href="#">Add to bag</a>
    <p class="product-show-description"><%=@product.description%></p>
  </div>
</div>
</div>
