
<div class="product-show-container row">
  <div class="product-show-card">

    <div id="carouselExampleControls" class="carousel slide col-md-6 col-sm-12" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% @product.photos.each_with_index do |photo,index| %>
          <div class="carousel-item <%= 'active' if index == 0 %>">
            <%# <img src="..." class="d-block w-100" alt="..."> %>
            <%= cl_image_tag photo.key, class: "d-block w-100 carousel-img", alt: "slide" %>
          </div>
        <% end %>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="product-show-info col-md-6 col-sm-12">
      <%= link_to product_designer_path(@product, @designer) do %>
        <h2><%=@product.designer.name.upcase%></h2>
      <% end %>
      <p><%=@product.name%></p>
      <p><%=humanized_money_with_symbol @product.price%></p>
      <select id="size" name="size" class="form-select mb-3">
        <option value="0">Select Size</option>
        <option value="1">XS</option>
        <option value="2">S</option>
        <option value="3">M</option>
        <option value="4">L</option>
        <option value="5">XL</option>
        <option value="6">XXL</option>
      </select>
      <%= simple_form_for [@product, @cart_item] do |f| %>
        <%= f.input :quantity %>
        <%= f.button :submit, "Add to bag", class:"btn1"%>
      <% end %>
      <p class="product-show-description"><%=@product.description%></p>
      <%# <img src="<%=@product.image%>
      <%# carousel  %>
    </div>
  </div>
</div>
